<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- chart.js 연결 부분 -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@1.27.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@2.0.0"></script>
    <!--  -->
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
    />
    <title>사물인터넷 운영체제</title>
  </head>
  <body>
    <section class="flex-center">
      <div>
        <span class="date text-size-small"></span>
      </div>
      <div>
        <span class="text-size-small">어항 온도</span>
      </div>
      <div>
        <span class="text-size-small">온도:</span>
        <span class="sensor_data text-size-small"></span>
        <span class="text-size-small">°C</span>
      </div>
      <div class="chart-size">
        <canvas id="randChart"></canvas>
      </div>
    </section>
    <section class="flex-center">
      <div>
        <span class="text-size-small">어항 ph 측정</span>
      </div>
      <div>
        <span class="text-size-small pH_value">ph:</span>
        <span class="text-size-small pH_value" id="pH_value"></span>
        <span class="text-size-small" id="ph_warning"></span>
      </div>
      <div class="chart-size">
        <canvas id="phChart"></canvas>
      </div>
      <div>
        <button id="on-off-button">turn on</button>
      </div>
      <div>
        <button id="auto-mode">auto mode on</button>
      </div>
    </section>
    <section class="flex-center">
      <div><span class="text-size-small">자동 먹이 배급</span></div>
      <div>
        <button id="feed-button">feed on</button>
      </div>
      <div>
        <button id="auto-feed-button">auto feed on</button>
      </div>
    </section>
    <script src="{{ url_for('static', filename='js/temper.js') }}"></script>
    <script src="{{ url_for('static', filename='js/temper_graph.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ph_warning.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ph_graph.js') }}"></script>
    <script src="{{ url_for('static', filename='js/on_off_button.js') }}"></script>
    <script src="{{ url_for('static', filename='js/feed_button.js') }}"></script>
  </body>
</html>
